body {
    padding-top: 5px;
}

#timer {
    font-size: 60px;
    font-weight: bold;
    text-align: right;
    margin-top: 10px;
    margin-bottom: 20px;
    /* position:fixed; */
    float: right;
    z-index: 999;
}

.container-fluid {
    background-color: #0A2558;
    height: 80px;
    margin-top: -15px;
}

.container-fluid h1 {
    font-size: 40px;
    color: white;
    padding: 7px
}

.question-container {
    background-color: #0A2558;
    color: #fff;
    border-radius: 10px;
    padding: 20px;
    max-width: 1100px;
    margin-left: 100px;
    height: fit-content;
    margin-bottom: 10px;
    margin-top: 10px;
}

#error {
    background: #F2DEDE;
    color: #A94442;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
    font-weight: normal;
}

.question-container h1 {
    font-size: 30px;
    text-align: left;
    margin-top: 5px;
    font-weight: bold;
    margin-left: 30px;
}

.question-container p {
    font-size: 30px;
    margin-top: 5px;
    font-weight: bold;
    margin-left: 20px;
    padding: 3px;
}

.question-container label {
    font-size: 30px;
    font-weight: bold;
    margin-left: 20px;
    padding: 3px;
}

.question-container input {
    margin-left: 60px;
    width: 35px;
    height: 35px;
    padding: 3px;
}

.btn {
    border: none;
    outline: none;
    height: 50px;
    width: 100px;
    color: white;
    border-radius: 4px;
    font-weight: bold;
    margin-left: 830px;
}

.btn:hover {
    background: white;
    border: 1px solid;
    color: black
}

.btn1 {
    border: none;
    outline: none;
    height: 50px;
    width: 100px;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}

.btn1:hover {
    background: white;
    border: 1px solid;
    color: black
}

.container-review {
    margin-left: 30px;
    margin-right: 30px;
}

.btn2 {
    border: none;
    outline: none;
    height: 50px;
    width: 100px;
    color: white;
    border-radius: 4px;
    font-weight: bold;
    margin-left: 10px;
}

.btn2:hover {
    background: white;
    border: 1px solid;
    color: black
}

#time-up {
    background: #F2DEDE;
    color: #A94442;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin-top: 100px;
    font-weight: bold;
}

.error {
    background: #F2DEDE;
    color: #A94442;
    padding: 10px;
    width: 90%;
    height: fit-content;
    border-radius: 5px;
    margin: 20px 0px auto;
    font-weight: lighter;
}

#btn-error{
    float:right;
    background-color: #ccc;
    color: #fff;
    border: none;
    font-size: 16px;
    font-weight: bold;
    padding: 0.5px 10px;
    cursor: pointer;
    color: red;
}