*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.row{
    background: white;
    border-radius: 30px;
    box-shadow: 12px 12px 22px black;
}
.container{
    width: 660px;
    height: 800px;
}
.div1{
    margin-left: 30px;
    width: 600px;
    height: 500px;
}
img{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.form-row{
    margin-left: 40px;
}
.logo{
    margin-left: 190px;
    margin-top: 30px;
}
.font-weight-bold{
    text-align: center;
}
.btn1{
    border: none;
    outline: none;
    height: 50px;
    width:100%;
    background-color: #454868;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}
.btn1:hover{
    background: white;
    border: 1px solid;
    color: black
}
.error{
    background: #F2DEDE;
    color: #A94442;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px 0px auto;
}
